<!-- Removes scalability, for consitency accross devices -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

<!-- To view this site locally, run "npx browser-sync start --server --files "./*.html" --no-open --no-notify --directory" from this folder -->
<!-- Then in your web browser, access the site via http://localhost:3000/ or mobile from http://192.168.1.147:3000/-->

<head>
  <!--basic starting setup-->
  <meta charset="utf-8">
  <link rel="icon" href="/icons/wm_logo.png" type="image/png">
  <title>Windan Market</title>
  <link rel="stylesheet" href="/core.css">
  <link rel="stylesheet" href="/fonts/ostrich-sans-master/webfonts/ostrich-sans.css">
  <script src="scripts/grid_item.js" defer></script>
  <script src="scripts/import_categorized.js" defer></script>
  <script src="scripts/search_bar.js" defer></script>
  <script src="scripts/button_filters.js" defer></script>
  <script src="scripts/scroll_position.js" defer></script>
</head>

<body>
  <!--HEADER-->
  <nav class="header-container">
    <div class="header-column-left">
      <img src="/icons/search-icon.png" alt="Search Icon" id="search-icon" onclick="clickSearch()">
      <a href="/">
        <img src="/icons/back-button.png" alt="Back Button" id="back-button">
      </a>
    </div>
    <div class="header-column-center">
      <h1 class="header-title">
        <a onclick="clickHeadTitle()">Windan Market</a>
        <img src="/icons/beta-button.png" alt="Beta Button" id="beta-button">
      </h1>
      <div class="search-container">
        <input type="search" id="search-input" placeholder="">
      </div>
    </div>
    <div class="header-column-right">
      <a href="/wishlist">
        <img src="/icons/wishlist-button.png" alt="Wishlist Saves" id="wishlist-saves-button">
      </a>
      <img src="/icons/close-button.png" alt="Close Search" id="close-search-button" onclick="closeSearch()">
    </div>
  </nav>

  <!--FILTERS-->
  <div id="filter-container">
    <%- include('./partials/filters.ejs') %>
  </div>

  <!--PRODUCTS-->
  <div class="middle-section" id="middle-section">

    <div id="loading-container">
      <img src="/icons/loading.gif" alt="Loading..." id="loading-img">
    </div>

    <!--Tops-->
    <div class="categorized-container" id="grid-container-tops">
      <div class="category-title-div">
        <a class="category-title" href="/tops">Tops</a>
      </div>
      <div class="category-grid">
        <!-- Grid items will be populated here using import_categorized.js -->
      </div>
    </div>

    <!--Bottoms-->
    <div class="categorized-container" id="grid-container-bottoms">
      <div class="category-title-div">
        <a class="category-title" href="/bottoms">Bottoms</a>
      </div>
      <div class="category-grid">
        <!-- Grid items will be populated here using import_categorized.js -->
      </div>
    </div>

    <!--Shorts-->
    <div class="categorized-container" id="grid-container-shorts">
      <div class="category-title-div">
        <a class="category-title" href="/shorts">Shorts</a>
      </div>
      <div class="category-grid">
        <!-- Grid items will be populated here using import_categorized.js -->
      </div>
    </div>

    <!--Shoes-->
    <div class="categorized-container" id="grid-container-shoes">
      <div class="category-title-div">
        <a class="category-title" href="/shoes">Shoes</a>
      </div>
      <div class="category-grid">
        <!-- Grid items will be populated here using import_categorized.js -->
      </div>
    </div>

    <!--Accessories-->
    <div class="categorized-container" id="grid-container-accessories">
      <div class="category-title-div">
        <a class="category-title" href="/accessories">Accessories</a>
      </div>
      <div class="category-grid">
        <!-- Grid items will be populated here using import_categorized.js -->
      </div>
    </div>



    <div class="search-results-container" id="search-results-container">
      <!-- Grid items will be populated here using image_import.js -->
    </div>
    <div class="no-search-results-inactive" id="no-search-results">
      <h3>Sorry, no search results found.</h3>
    </div>
  </div>
</body>


<footer class="footer">
  <%- include('./partials/footer.ejs') %>
</footer>