@font-face {
  font-family: 'Prociono';
  src: url('/fonts/prociono-master/Prociono-Regular-webfont.woff') format('woff')
}

@font-face {
  font-family: 'LeagueGothic';
  src: url('/fonts/LeagueGothic-1.601/static/WOFF2/LeagueGothic-Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'TheNeueBlack';
  src: url('/fonts/TheNeueBlack/WOFF2/TheNeue-Black.woff2') format('woff2')
}

html {
  background-color: white;
  font-family: 'TheNeueBlack';
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 10, 0.6);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 10, 0.4);
}

.hide {
  display: none !important;
}

#page-title {
  padding-left: 10%;
  font-size: 30px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.header-container {
  position: fixed;
  top: 0;
  height: 69px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: rgba(0, 0, 10, 0.8);
  backdrop-filter: blur(15px);
  z-index: 10;
}

.header-column-left {
  display: flex;
  justify-content: center;
}

#search-icon {
  transition: transform .2s;
  width: 25px;
  height: 25px;
}

#search-icon:hover {
  transform: scale(1.5);
}

.search-container {
  /* initially not shown until clicked */
  display: none;
}

#search-input {
  font-size: 18px;
  height: 35px;
  width: 100%;
  align-items: center;
  /* centers vertically */
  color: rgb(213, 213, 213);
  background-color: transparent;
  border-color: transparent;
}

#close-search-button {
  /* Initially not shown until search container is displayed */
  display: none;
  transition: transform .2s;
  width: 25px;
  height: 25px;
}

#close-search-button:hover {
  transform: scale(1.5);
}

#back-button {
  transition: transform .2s;
  width: 25px;
  height: 25px;
  display: none;
}

#back-button:hover {
  transform: scale(1.5);
}

.header-column-center {
  display: flex;
  justify-content: center;
}

.header-title {
  word-spacing: 3px;
  font-family: 'TheNeueBlack';
  font-size: 25px;
  color: white;
  text-align: center;
}

.header-column-center a:link {
  color: white;
  text-decoration: none;
}

.header-column-center a:visited {
  color: white;
  text-decoration: none;
}

.header-column-center a:hover {
  color: rgb(213, 213, 213);
  text-decoration: none;
}

#beta-button {
  width: 25px;
  padding: 2px;
  padding-top: 0px;
}

.header-column-right {
  position: relative;
  display: flex;
  justify-content: center;
}

#wishlist-saves-button {
  transition: transform .2s;
  width: 25px;
  height: 25px;
}

#wishlist-saves-button:hover {
  transform: scale(1.5);
}

.filter-buttons {
  position: fixed;
  margin-top: 69px;
  width: 100%;
  /* initially not shown until clicked */
  display: none;
  z-index: 9;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(0, 0, 10, 0.7);
  backdrop-filter: blur(15px);
}

.filter-button {
  font-size: 16px;
  position: relative;
  color: rgb(213, 213, 213);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: transparent;
  border-color: transparent;
}

button:hover,
button:active {
  border-top-color: rgb(213, 213, 213);
  font-weight: bold;
}

body {
  position: static;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  z-index: 5;
}

#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-img {
  width: 50px;
  height: 50px;
  padding: 25px;
}

.middle-section {
  margin-top: 72px;
}

/* Create a 4-column grid layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Four columns with equal width */
}

.category-grid {
  display: flex;
  flex-direction: row;
  height: fit-content;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category-grid>.grid-item {
  margin-right: 10px;
  /* Adjust as needed for spacing between images */
  flex-shrink: 0;
}

.category-grid>.grid-item>a {
  max-height: fit-content;
  /* Set the maximum height */
}

.category-grid>.grid-item>a img {
  height: 500px;
  /* Set the maximum height */
}

.category-title-div {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.category-title {
  font-size: 30px;
  text-decoration: none;
  color: rgba(0, 0, 10, 0.8);
}

.search-results-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Four columns with equal width */
}

.wishlist-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  /* Four columns with equal width */
  place-items: center;
}

.wishlist-container>.grid-item {
  width: 50%;
  grid-template-columns: 1fr 1fr;
}

.wishlist-container>.grid-item>.add-info-div>.brand-name {
  text-align: left;
  padding-left: 20px;
}

.wishlist-container>.grid-item>.add-info-div>.brand-description {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(0, 0, 10, 0.7);
  font-family: 'LeagueGothic';
  font-size: 18px;
  font-weight: normal;
}

/* Style grid items*/
.grid-item {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  /* Item description div auto fits just the needed space */
  border: transparent;
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 0;
}

/* Style images within grid items */
.grid-item img {
  max-width: 100%;
}

.grid-item #item-link {
  grid-row: 1 / span 1;
  height: max-content;
}

#item-desc-div {
  grid-row: 2;
  /* Place the item-desc-div in the second row (bottom) */
  display: grid;
  max-height: fit-content;
  align-content: end;
  grid-template-columns: 3fr 1fr;
  margin-block-start: 0;
  margin-block-end: 15px;
}

#item-wishlist-div {
  text-align: right;
  width: 100%;
}

#item-wishlist-button {
  height: 25px;
  width: 25px;
  float: right;
  padding-right: 10px;
}

#item-saved-button {
  height: 25px;
  width: 25px;
  float: right;
  padding-right: 10px;
}

#item-title {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  padding-left: 15px;
  font-family: 'LeagueGothic';
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 10, 0.8);
}

#item-price {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  padding-left: 20px;
  font-family: 'LeagueGothic';
  font-size: 17px;
  color: rgba(0, 0, 10, 0.6);
}

.load-more-container {
  width: 100%;
  text-align: center;
  margin: 0px;
  display: none;
}

#load-more-button {
  padding: 25px;
  background-color: transparent;
  border-color: transparent;
}

.no-search-results-inactive {
  display: none;
}

.no-search-results-active {
  display: block;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  padding-left: 0px;
}

.no-wishlist {
  display: block;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  padding-left: 0px;
}

#response-form {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: auto;
}

#rec-form-top-half {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#rec-form-top-half #name-rec {
  grid-column: 1;
  padding-bottom: 10px;
}

#rec-form-top-half #email-rec {
  grid-column: 1;
  padding-bottom: 10px;
}

#rec-form-top-right {
  display: flex;
  align-items: center;
  justify-content: right;
}

#rec-form-top-right #submit-rec {
  grid-column: 2;
}

#rec-form-top-right #submit-rec button {
  background-color: transparent;
  border-color: transparent;
}

#rec-form-top-right #submit-rec img {
  height: 70px;
}

#rec-form-top-right #submit-rec img:hover {
  content: url("icons/double-right-darkened.png");
}

#rec-form-bottom-half {
  width: 100%;
  justify-content: start;
  padding-bottom: 30px;
}

#response-form input {
  background-color: rgb(213, 213, 213);
  border-color: transparent;
  width: 100%;
}

#response-form textarea {
  background-color: rgb(213, 213, 213);
  border-color: transparent;
  width: 100%;
  resize: none;
}

#response-form #recommendation {
  height: 300px;
  vertical-align: top;
}

/* Style the footer container */
.footer {
  position: static;
  color: rgb(213, 213, 213);
  /* Text color */
  padding: 20px 0;
  /* Add some vertical spacing */
  background-color: rgba(0, 0, 10, 0.8);
  width: 100%;
  margin-top: auto;
  bottom: 0;
}

/* Center the content and limit its width */
.footer-container {
  max-width: 1200px;
  /* Adjust as needed */
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 20px;
}

/* Style the footer content sections */
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* Allow content to wrap to the next row on smaller screens */
}

.footer-section {
  flex-basis: 24%;
  /* Adjust the width of each section */
  margin-bottom: 20px;
  /* Add spacing between sections */
}

/* Style headings and paragraphs */
.footer-section h3 {
  font-size: 23px;
  font-weight: lighter;
  margin-bottom: 10px;
}

#motto {
  color: white;
}

.footer-section p {
  font-family: 'LeagueGothic';
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.quick-links {
  list-style: none;
  padding: 0;
}

.quick-links li {
  font-family: 'LeagueGothic';
  margin-bottom: 5px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.quick-links a:link {
  color: rgb(213, 213, 213);
  text-decoration: none;
}

.quick-links a:visited {
  color: rgb(213, 213, 213);
  text-decoration: none;
}

.quick-links a:hover {
  color: white;
  text-decoration: none;
}

.quick-links a:active {
  color: white;
  text-decoration: none;
}

/* Style the social media icons */
.social-icons {
  transition: transform .2s;
  align-content: center;
  list-style: none;
  padding: 0;
}

#instagram:hover {
  content: url("icons/instagram.png")
}

.social-icons li {
  margin-right: 10px;
}

.social-icons img {
  width: 25px;
  height: 25px;
  padding: 5px;
}

/* Changes for mobile */
@media (max-width:1200px) {
  .header-title {
    font-size: 14px;
  }

  #page-title {
    font-size: 20px;
  }

  #response-form label {
    font-size: 16px;
  }

  #search-input {
    font-size: 15px;
  }

  .grid-container {
    /* two columns on mobile devices */
    grid-template-columns: repeat(2, 1fr);
  }

  #item-title {
    font-size: 15px;
  }

  #item-price {
    font-size: 14px;
  }

  .wishlist-container>.grid-item {
    width: 100%;
  }

  .wishlist-container>.grid-item>.add-info-div>.brand-name {
    padding-left: 10px;
    font-size: 16px;
  }

  .wishlist-container>.grid-item>.add-info-div>.brand-description {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  .footer-content {
    flex-direction: column;
    padding-left: 30px;
  }
}